#**
# MIT License
#
# Copyright (c) 2019 Werner Punz
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#

#*
 * Some Helper macros to reduce the total loc
 *#

#macro( output $to $to_ev )
   {
        to: "$to",
        to_ev: "$to_ev"
   }
#end

#*
 * A simple mapping macro with from event, to and to event definitions
 * which extracts into the proper json 5 definition
 *#
#macro(mapping $from_ev $to $to_ev)
    {
      from_ev: "$from_ev",
      targets: [
        #output( $to $to_ev )
      ]
    }
#end

#macro(forward $from_ev $to)
    {
      from_ev: "$from_ev",
      targets: [
        #output( $to $from_ev )
      ]
    }

#end

#macro(af_mapping $from_ev $to $to_ev $periodical $frequency)
    {
      from_ev: "$from_ev",
      targets: [
        {
            to: "$to",
            to_ev: "$to_ev",
            //autofire
            periodical: $periodical,
            frequency: $frequency
        }
      ]
    }
#end


#macro(input_def $internal_name $name $exclusive $relpos)
    $internal_name: {
      name: "$name",
      exclusive: $exclusive,
      relpos: $relpos
    }
#end

#macro(input_def_re $internal_name $name $exclusive $relpos)
    $internal_name: {
      name_re: "$name",
      exclusive: $exclusive,
      relpos: $relpos
    }
#end


#macro(input_def_min_max $internal_name $name $exclusive $relpos $min $max $deadzone)
    $internal_name: {
      name: "$name",
      exclusive: $exclusive,
      relpos: $relpos,
      min: $min
      max: $max,
      deadzone: $deadzone
    }
#end

#macro(input_def_mm_re $internal_name $name $exclusive $relpos $min $max $deadzone)
    $internal_name: {
      name_re: "$name",
      exclusive: $exclusive,
      relpos: $relpos,
      min: $min,
      max: $max,
      deadzone: $deadzone
    }
#end

#macro(input_def_phys $internal_name $phys $exclusive $relpos)
    $internal_name: {
      phys: "$phys",
      exclusive: $exclusive,
      relpos: $relpos
    }
#end

#macro(output_def $internal_name $name $type)
    $internal_name: {
      name: "$name",
      type: "$type"
    }
#end

#macro(output_def_meta $internal_name $name $type $meta)
    $internal_name: {
      name: "$name",
      type: "$type",
      meta: "$meta"
    }
#end